<a href="https://colab.research.google.com/github/sj0328/py14/blob/master/notebook/mid_exam_py14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 파이썬 활용 중간고사 풀이

### 문제 1번. 다음 식의 연산 결과는?

In [ ]:
a = 5
b = 3
a ** b

 #**은 제곱을 뜻하기 때문에 125로 출력이 됩니다.

125

## 문제 2번. 다음 문자열 a에 대하여 슬라이싱을 한 결과는?
#### a= "Life is too short, ou need Pythonl"
#### a[-16:-8]

In [ ]:
a = "Life is too short,you need Python!"
a[-16:-8] 

# -16은 Y부터를 나타내고 있고, -8은 d까지를 나타내고 있습니다. 그래서 "You need"가 결과로 나옵니다.

'you need'

### 문제 3번. 다음 list a의 인덱싱 결과는?

In [ ]:
a = [1,2,(3,4),['a','b',['My','Life','Good']]]
a[3][-1][0] 

# a[3]은 ['a','b',['My','Life','Good']이고, -1은 ['My','Life','Good']입니다. 
#['My','Life','Good']부분에서 0인 부분은 "My"입니다

'My'

### 문제 4번. 다음 tuple t1의 슬라이싱 결과는?

In [ ]:
t1 = (0,1,"s", "t", "u")
t1[2:-2]

# tuple을 사용할 때에는 콤마를 붙여 주어야 합니다
# 2는 ("s")를 뜻하고, -2는 ("t")의 뒷부분을 뜻합니다. 그렇기 때문에 ('s',)가 출력됩니다.

('s',)

### 문제 5번. 다음 bool 값 출력 중 정확한 것은?

In [ ]:
bool([0,1,2]),bool([0]), bool((0)), bool((0,))

# 첫번째와 두번째는 []안에 값이 들어있기 때문에 True이고, 세번째는 ()안에 빈 문자열이기 때문에 False이고,
# 마지막은 0,가 있어서 빈 문자열이 아니므로 True가 나옵니다.

(True, True, False, True)

### 문제 6번. 다음 조건문을 1줄 코드로 변경하시오.

In [ ]:
score = 80
if score >= 60 :
  message = "success"
else :
  message = "failure"

In [ ]:
score = 80
massage = "success" if score >= else "failure"

In [ ]:
score = 80
massage = "success" if score >= else "failure"

SyntaxError: ignored

### 문제 7번. 다음 코드의 실행 결과는?

In [ ]:
games = ["A", "B", "C"]

for cnt in range(len(games)):  # games의 길이를 숫자로 cnt에 대입합니다.
    print(cnt, games[cnt], end=',')
    # cnt숫자 0부터 2 까지를 출력하는 사이에 "games"문자를 넣어주고 "end"에는 ','붙여야 합니다

0 A,1 B,2 C,

### 문제 8번. 다음의 결과가 출력되지 않는 것은?
###'I ate 10 apples. so I was sick for three days.'

In [ ]:
number = 10
day = "three"
print("I ate {0} apples. so I was sick for {1} days.".format(10,day))
print(f"I ate {number} apples. so I was sick for {day} days.")
print(f"I ate {number} apples. so I was sick for {'three'} days.")
print("I ate {0} apples. so I was sick for {1} days.".format(number=10,day))

SyntaxError: ignored

### 문제 9번. 리스트 내포를 사용해 1부터 1000이하의 자연수 중 5의 배수의 합을 구하는 한줄 코드를 작성하시오

In [ ]:
sum([num for num in range(1,1001) if num % 5 ==0])
# range(1,1001) : 1 부터 1000까지 범위 안이고, num % 5 == 0 : 5로 나눈 나머지가 0이면 5의 배수입니다.

100500

### 문제 10번. 4개 과목의 평균 성적을 구하시오. [a],[b]에 적합한 코드는?

In [ ]:
subjects = ['python', 'english', 'math', 'science']
scores = [ 88, 77, 66, 95]
total = 0
for subject, score in zip(subjects,scores): 
  total += score
  print(subject,score)

print("평균 점수 = {0}".format(total/len(subjects)))
# total/len(subjects): 총 합계인 total에 len(subjects)를 이용해서 과목 수 만큼 나누어주면 평균이 구해집니다

python 88
english 77
math 66
science 95
평균 점수 = 81.5